In [13]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: numpy in c:\users\el7md\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\el7md\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\EL7md\anaconda3\python.exe -m pip install --upgrade pip' command.

In [16]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime
import xgboost as xgb

In [2]:
# load data from database
engine=create_engine('sqlite:///LogWeeklyData.db')
df=pd.read_sql_table("LogWeeklyData", con=engine)

In [3]:
# print the head
df.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Timestamp
0,5.707110,5.707110,5.707110,5.707110,0.009950,1.386294,5.707110,2014-12-01
1,5.988961,5.988961,5.988961,5.988961,0.009950,1.605430,5.988961,2014-12-15
2,5.846439,5.846439,5.831882,5.831882,1.098612,6.530878,5.839187,2014-12-22
3,5.888878,5.888878,5.888878,5.888878,0.009950,1.526056,5.888878,2015-01-12
4,5.564520,5.564520,5.564520,5.564520,0.693147,5.564520,5.564520,2015-01-19

In [10]:
# split the data
date=datetime.datetime(2017, 12, 31)
X_test=df.loc[df['Timestamp']>date]
y_test=X_test['Weighted_Price']
X_test=X_test.drop('Weighted_Price',axis=1)
X_train=df.loc[df['Timestamp']<=date]
y_train=X_train['Weighted_Price']
X_train=X_train.drop('Weighted_Price',axis=1)

In [11]:
# check shape of x_train and x_test
print(X_train.shape)
print(X_test.shape)

(149, 7)
(46, 7)

## Model Building

In [18]:
# create an xgboost regression model
#model = xgb.XGBRegressor()

# fit the model
#model.fit(X_train,y_train)